<!doctype html>
<html>
<head>
  <title>404 Page not found!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" type="../image/x-icon" href="/img/favicon.ico">
  <link href="../css/master.minified.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="header">

  </header><!-- /.header -->

  <div class="container container-main">
    <div id="message" class="card-body card-padding m-x-1 m-t-2">
        <div class="full-circle-403 m-t-3"><i class="fa fa-frown-o fa-6" aria-hidden="true"></i></div>
        <h1 class="m-b-3 text-sm-center access-denied">Page not found!</h1>
    </div>
  </div>

  <footer class="footer">
      
  </footer>
  <!-- footer -->

</body>
</html>
